body {
  background: #38deef;
  margin: 0px;
}

header {
  background: #38deef;
}

h3 {
  margin: 0;
}

.top-bar,
.nav-bar,
.blog-title,
.blog-body-wrapper,
.blog-suggest-container {
  padding: 5px 100px;
}

.blog-title,
.blog-suggest-title,
.blog-newsletter-title {
  font-weight: bold;
}

/* Css for top-bar includes social links*/
.top-bar {
  display: flex;
  font-weight: bold;
  flex-grow: 0;
}

.social {
  flex-grow: 0;
  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px;
}

/* Css for nav-bar includes logo image and nav lists*/
.nav-bar {
  background: darkblue;
  color: white;

  display: flex;
}

.img-logo {
  height: 50px;
  width: 50px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 20px;
}

/* highlight list on hover*/
.nav-list li:hover {
  font-size: 24px;
  background: rgb(133, 10, 233);
  padding: 5px;
}

/* Css style for background image and hero-text*/
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  height: 600px;
  background-image: url(./images/bg-image.jpg);
  background-size: 100vw 600px;
}

.hero-text {
  background: black;
  opacity: 0.6;
  border-radius: 10px;
  padding: 30px;
  height: 100px;
  width: 300px;
}

/* css for latest blog posts */
.blog-container {
  padding-top: 32px;
  background-image: url(https://static.vecteezy.com/system/resources/previews/010/082/270/non_2x/abstract-gradient-blue-light-background-free-vector.jpg);
  background-size: 100vw;
}

/* blog body css*/
.blog-body {
  display: flex;
  gap: 10px;
}

/* blog cards css*/
.blog-cards {
  width: 70%;
}

.blog-card-1,
.blog-card-2,
.blog-card-3 {
  background: rgba(61, 134, 163, 0.3);
  display: flex;
  gap: 16px;
  padding: 16px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.blog-card-image {
  width: 20em;
  height: 15em;
}

.blog-card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blog-card-button {
  display: flex;
  justify-content: end;
}

.blog-card-button > button {
  background: #38deef;
  border-radius: 4px;
  border: 0px;
  padding: 10px 8px;
  box-shadow: -8px 8px 16px 6px #707b7c;
}

/* blog filter css*/
.blog-filter {
  width: 30%;
}

.blog-country-filter,
.blog-date-filter {
  background: rgba(32, 245, 4, 0.2);
  padding: 16px;
  margin-bottom: 8px;
  border-radius: 6px;
}

.blog-country-filter > p,
.blog-date-filter > p {
  font-weight: bold;
}

.blog-country-filter > ul > li > a,
.blog-date-filter > ul > li > a {
  color: black;
}

/* Recommendation section css*/
.blog-suggest-container {
  background: white;
  font-size: 16px;
  padding-bottom: 30px;
}

/* blog cards css*/
.blog-suggest-card-title {
  font-weight: bold;
}

.blog-suggest-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.blog-suggest-card-1,
.blog-suggest-card-2,
.blog-suggest-card-3,
.blog-suggest-card-4 {
  max-width: 390px;
  background: rgba(61, 134, 163, 0.3);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: -8px 8px 16px 6px #707b7c;
}

.blog-suggest-card-image {
  max-width: 100em;
  height: 15em;
  border-radius: 6px 6px 0px 0px;
}

.blog-suggest-card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.blog-suggest-card-button {
  background: #38deef;
  border-radius: 4px;
  border: 0px;
  padding: 10px 8px;
  box-shadow: -8px 8px 16px 6px #707b7c;
}

/* Newsletter section */
.blog-newsletter {
  background: lightgreen;
  height: 300px;
  /* margin-bottom: 30px; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-form-wrapper {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blog-form {
  display: flex;
  gap: 3px;
}

#name,
#email,
.blog-form > button {
  min-width: 1em;
  border: 1px solid black;
  border-radius: 6px;
  padding: 15px 5px;
  font-size: 10px;
}

#name {
  flex: 1;
}

#email {
  flex: 1;
}

.blog-form > button {
  flex: 0.5;
}

/* css footer */

footer {
  background: white;
  padding-top: 30px;
}

.footer-text {
  background: black;
  text-align: center;
  color: white;
  padding: 30px;
  margin: 0;
}
