body {
  background: #38deef;
  margin: 0px;
}

header {
  background: #38deef;
}

.top-bar,
.nav-bar,
.blog-title,
.blog-cards {
  padding: 5px 100px;
}

/* Css for top-bar includes social links*/
.top-bar {
  display: flex;
  font-weight: bold;
  flex-grow: 0;
}

.social {
  flex-grow: 0;
  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px;
}

/* Css for nav-bar includes logo image and nav lists*/
.nav-bar {
  background: darkblue;
  color: white;

  display: flex;
}

.img-logo {
  height: 50px;
  width: 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 20px;
}

/* highlight list on hover*/
.nav-list li:hover {
  font-size: 24px;
  background: rgb(133, 10, 233);
  padding: 5px;
}

/* Css style for background image and hero-text*/
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  height: 600px;
  background-image: url(./images/bg-image.jpg);
  background-size: 100vw 600px;
}

.hero-text {
  background: black;
  opacity: 0.6;
  border-radius: 10px;
  padding: 30px;
  height: 100px;
  width: 300px;
}

/* css for latest blog posts */
.blog-container {
  height: 600px;
  background-image: url(https://static.vecteezy.com/system/resources/previews/010/082/270/non_2x/abstract-gradient-blue-light-background-free-vector.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 600px;
}
